##### GitHub CI configuration #####
##### See: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs #####

name: Lint and test Typescript Node.js app in CI
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 24.x
          - 25.x
    name: Linting with Node.js ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run lint
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 24.x
          - 25.x
    name: Testing with Node.js ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      - run: cp .env.example .env.local
      - run: npm test
